.playlist {
  display: flex;
  flex-direction: column;

  margin: 0.5rem;
  line-height: 1.5;

  padding: 1rem;
  border-radius: 0.2rem;
  border: SpringGreen 0.2rem solid;
}

.playlist a:hover {
  opacity: 0.75 !important;
}

.coverArt {
  max-width: 200px;
}

.links {
  display: flex;
  flex-direction: column;
}

.spotify {
  text-decoration: none;
}

.spotifyButton {
  margin-top: 0;
  margin-bottom: 0.5rem;
  width: 100%;
  padding: 0.5rem;
  background-color: SpringGreen;
  color: black;
}

.songkick {
  color: black;
}


@media screen and (min-device-width: 390px) and (max-device-width: 522px){
  .playlist {
    flex-direction: row;
  }

  .links {
    justify-content: space-around;
    margin-left: 0.5rem;
  }
}
